<div id="login" fxLayout="column">

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

      <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

          <div class="title">SEJA BEM VINDO</div>

          <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" novalidate>

              <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email">
                  <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                  <mat-error *ngIf="loginForm.get('email').hasError('required')">
                      Email é obrigatório
                  </mat-error>
                  <mat-error
                      *ngIf="!loginForm.get('email').hasError('required') &&
                              loginForm.get('email').hasError('email')">
                      Por favor insira um endereço de e-mail válido
                  </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>Senha</mat-label>
                  <input matInput type="password" formControlName="password">
                  <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                  <mat-error>
                      Senha é obrigatório
                  </mat-error>
              </mat-form-field>

              <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                   fxLayoutAlign="space-between center">

                  <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
                    Esqueceu a senha?
                  </a>
              </div>

              <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                      [disabled]="loginForm.invalid">
                  Entrar
              </button>

          </form>

      </div>

  </div>

</div>
